
ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
 
  ul ul {
    list-style-type:circle;
    padding-left: 20px;
  }
 
  
  li::before {
    content: '';
    background-image: url('image.png');
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    
  }
  
  
 
  